extends layout

block content
	if cookies
		a(href='/home') Home
		br
		a(href='/users') All Users
		br
		a(href='/logout') Logout
	else
		a(href='/login') Login
		br
		a(href='/users/new') Create account

